.header{
    background-color: hsl(0, 4%, 18%);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
   
}
.header__logo{
    width: 160px;
    object-fit: contain;
    height: 47px;
    margin-top: 13px;
    margin-left: 10px;
    

}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionLineOne{
    font-size: 10px;
    margin-right: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 700;
}
.header__optionBasket{
    display: flex;
    justify-content: center;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header_search{
    display: flex;
    flex: 1;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}