.Product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: white;
    z-index: 1;
}
.Product__rating{
    display: flex;
}
.Product__info{
    height: 100px;
    margin-bottom: 15px;
}
.Product__price{
    margin-top: 5px;
}
.Product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.Product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}